version : '2'

services:
  
  loadtest_1:
    build: .
    volumes:
      - ./files:/tmp
      - ./artillery:/artillery
    environment:
      - ARTILLERY_FILE=scenario_1.yml
  
  loadtest_2:
    build: .
    volumes:
      - ./files:/tmp
      - ./artillery:/artillery
    environment:
      - ARTILLERY_FILE=scenario_1.yml

networks: 
  default:
    external:
      name: network-must-within-network-for-service-to-be-tested